.App {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

table {
    border: 1px solid darkgray;
    border-collapse: collapse;
}
td {
    border-bottom: 1px solid darkgray;
    padding: 5px;
}
.deklination {
    font-weight: bold;
    border-right: 1px solid darkgray;
}
.artikel {
    font-weight: bold;
}

